$main-color: #435fff;
$seconday-color: #00D1FF;
$active-indicator-platform-color: #00FFD1;
$inactive-indicator-platform-color: #5F6780;


$sidebar-inactive-link: #4D5881;
$sidebar-active-link: #54F5FF;
$font-exo-family: 'Exo 2', sans-serif;